body {
  background-color: white;
  line-height: 1.5;
  width: 100%;
  font-family: Montserrat-black;
  overflow-x: hidden;
  align-items: center;
  text-align: center;
}
 hr {
   border: 1px 0 0 0;
   color: blue;
   border-radius: 4px;
   width: 10%;
   border-style: dashed;
 }
 h1{
  color: blue;
  font-size: 2rem;
  font-weight: bold;
 }
 h2{
   color: white;
   font-weight: bold;
 }
 h3{
   padding: 1rem 0;
   font-weight: bold;
   margin-bottom: 0;
}
 p {
   font-size: 1rem;
   margin: 0;
   font-family: Ubuntu;
 }

 /* NAV SECTION */

 .logo{
   width: 50px;
   width: 50px;
   text-align: right;
 }
 #navbarTogglerDemo03 {
   font-weight: bold;
 }
 .navbar-nav{
   text-align: left;
   color: white;
   margin: 0;
   margin-right: 0;
 }
 .navbar-expand-lg {
   margin-right: 0;
 }
 /* Heading Section */

 .header-text {
   text-align: center;
   padding: 0 4rem;
 }
.heading-container{
  background-color: white;
  color: blue;
  width: 100%;
  align-items: center;
}
.profilepics, .graphic-design-imgs {
  width: 40%;
  height: 40%;
  text-align: center;
  margin: 10px;
  border-radius: 10px;
}
.ui-ux-projects, .ui-ux-design-imgs {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 10px auto;
  display: inline-block;
  border-radius: 10px;
}

/* SKILLS SECTION */
.Skills {
  background-color: ;
  align-items: center;
  text-align: center;
  display: inline-block;
}
.graphics-container {
  background-color: #007bff;
  padding-top: 1rem;
  color: white;
}
.graphics {
  width: 30%;
  height: 30%;
  text-align: center;
}
.ui-ux {
  padding-top: 2rem;
  width: 40%;
  height: 40%;
  text-align: center;
}
.code-img {
  border-radius: 200%;
  color: white;
}
.graphics-txt, .web {
  padding: 0 4rem 2rem;
  text-align: center;
}
.interface {
  color: blue;
  text-align: center;
  padding: 0 4rem 2rem;
}
.web {
  background-color: #007bff;
  color: white;
  padding: 2rem 4rem;
}

//* CONTACT US SECTION */
.ui-ux-design-img {
  background-color: #007bff;
}
.form {
  text-align: center;
  width: 100%;
  color: blue;
}
.label {
  margin-top: 0.5rem;
}
.input {
  border-radius: 0.5rem;
  border-color: #007bff;
  margin-bottom: 1rem;
}
.btn {
  color: white;
  margin-top: 1rem;
  border-color: white;
}
.btn:hover {
  background-color: blue;
  color: white;
}

.Project-web {
  width: 70%;
  margin: auto;
  display: inline-block;
}
.my-contact {
  width: 100%;
  padding: 0 2rem;
  text-align: left;
  display: inline-block;
}

.contact-txts {
  display: inline-block;
}
.contact-icons {
  color: #007bff;
}
.footer-container {
  background-color: #007bff;
  color: white;
  padding: 1rem 0 1rem;
}
.footer-icons {
  padding: 0 1rem 0.5rem;
}
@media all and (max-width: 572px) {
  .graphic-design-imgs {
    display: block;
    text-align: center;
    margin: 5px auto;
    width: 60%;
    height: 60%;
  }
}
